<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:35 GMT -->

<head>
    <meta charset="utf-8">
    <title>TelyVersa_Admin</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="asset/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/assets/css/maind134.css?v=3.4" rel="stylesheet" />
</head>

<body>

    <div class="col-md-4 mx-auto mt-100">
        <div class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
            <div class="padding_eight_all bg-white">
                <div class="heading_s1">
                    <h3 class="mb-30">Login</h3>
                </div>
                <form method="post">
                    <div class="form-group">
                        <input type="text" required="" name="email" placeholder="Your Email">
                    </div>
                    <div class="form-group">
                        <input required="" type="password" name="password" placeholder="Password">
                    </div>
                    <div class="login_footer form-group">
                        <div class="chek-form">
                            <div class="custome-checkbox">
                                <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox1"
                                    value="">
                                <!-- <label class="form-check-label" for="exampleCheckbox1"><span>Remember me</span></label> -->
                            </div>
                        </div>
                        <!-- <a class="text-muted" href="#">Forgot password?</a> -->
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-fill-out btn-block hover-up" name="login">Log in</button>
                        <!-- <div class="text-muted text-center">Dont have an account?<a href="/signup">signup now</a></div> -->
                    </div>
                </form>
            </div>
        </div>
    </div>

  
    </main>
    <script src="asset/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="asset/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="asset/js/vendors/select2.min.js"></script>
    <script src="asset/js/vendors/perfect-scrollbar.js"></script>
    <script src="asset/js/vendors/jquery.fullscreen.min.js"></script>
    <script src="asset/js/vendors/chart.js"></script>
    <!-- Main Script -->
    <script src="/asset/js/main.js" type="text/javascript"></script>
    <script src="/asset/js/custom-chart.js" type="text/javascript"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:57 GMT -->

</html>