<%- include("../partials/adminHeader") %>



<style>
    .error-message {
        color: rgb(224, 69, 69);
        margin-top: 5px;
        font-size: 12px; /* Adjust font size as needed */
    }
</style>





    <section class="content-main">
        <div class="row">
            <div class="col-9">
                <div class="content-header">
                    <h2 class="content-title">Add New Product</h2>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-body">

                        <form method="post" action="/admin/addproduct" enctype="multipart/form-data"
                            onsubmit="return validateForm()">
                            <div class="mb-4">
                                <label class="form-label">Product Name</label>
                                <input type="text" placeholder="Type here" name="productName" 
                                    class="form-control border" id="productName">
                                <div id="productName-error" class="error-message"></div>
                            </div>
                            
                            <div class="mb-4">
                                <label class="form-label">Full description</label>
                                <textarea placeholder="Type here" name="description" class="form-control border"
                                    rows="4"></textarea>
                                <div id="description" class="error-message"></div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <label class="form-label">Regular price</label>
                                        <input placeholder="$" name="regularPrice" type="text" id="regularPrice" 
                                            class="form-control border">
                                            <div id="regularPrice-error" class="error-message"></div>

                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <label class="form-label">Sale price</label>
                                        <input placeholder="$" name="salePrice" type="text" id="salePrice"  class="form-control border">
                                        <div id="salePrice-error" class="error-message"></div>

                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <label class="form-label">Quantity</label>
                                        <input placeholder="" id="quantity" name="quantity" type="text"  class="form-control border">
                                        <div id="quantity-error" class="error-message"></div>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <label class="form-label">TV Size</label>
                                        <input placeholder="" name="size" type="text" id="size"  class="form-control border">
                                        <div id="size-error" class="error-message"></div>
                                    </div>
                                </div>
                            
                                <div class="col-lg-4">
                                    <div class="mb-3">
                                        <label class="form-label">Resolution</label>
                                        <input placeholder="" name="resolution" type="text" id="resolution"  class="form-control border">
                                        <div id="resolution-error" class="error-message"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-4">
                                <div class="card-body">
                                    <div class="row gx-2">
                                        <div class="col-sm-6 mb-3">
                                            <label class="form-label">Category</label>
                                            <select class="form-select border" id="category" style="width: 150px;" name="category">
                                                <% for (let i=0; i < category.length; i++) { %>
                                                    <option value="<%= category[i].name %>">
                                                        <%= category[i].name %>
                                                    </option>
                                                    <% } %>
                                            </select>
                                        </div>
                                    </div>
                                </div>  
                            </div>
                            <div class="card mb-2">
                                <div class="card-header">
                                    <h4>Choose images</h4>
                                </div>
                                <div class="border row">
                                    <div id="addedImagesContainer" class="thumbnails-container"></div>
                                </div>
                                <div class="card-body">
                                    <div class="input-upload">
                                        <img src="assets/imgs/theme/upload.svg" alt="">
                                        <input class="form-control border" name="imageInput" required id="imageInput" type="file" multiple>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <button class="btn btn-md rounded font-sm hover-up" type="submit"
                                    onclick="validateForm()">Publish</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
             // Array to store selected images
             const selectedImages = [];

// Function to handle file input change
document.getElementById("imageInput").addEventListener("change", handleFileSelect);

function handleFileSelect(event) {
    // Target the container for displaying thumbnails
    const addedImagesContainer = document.getElementById("addedImagesContainer");

    // Clear previous content
    addedImagesContainer.innerHTML = "";

    const files = event.target.files;

    for (let i = 0; i < files.length; i++) {
        const file = files[i];

        // Add the file to the selected images array
        selectedImages.push(file);

        // Create thumbnail element
        const thumbnail = document.createElement("div");
        thumbnail.classList.add("thumbnail");

        // Create image element
        const img = document.createElement("img");
        img.src = URL.createObjectURL(file);
        img.alt = "thumbnail";

        // Set a fixed width for the image
        img.style.width = "50px"; // Adjust the width as needed
        img.style.height = "auto";

        // Create remove icon
        const removeIcon = document.createElement("span");
        removeIcon.classList.add("remove-icon");
        removeIcon.innerHTML = "&times;"; // Multiplication symbol as a cross

        // Event listener to remove the image on icon click
        removeIcon.addEventListener("click", function () {
            // Remove the file from the selected images array
            const index = selectedImages.indexOf(file);
            if (index !== -1) {
                selectedImages.splice(index, 1);
            }

            // Remove the thumbnail from the container
            thumbnail.remove();
        });

        // Append elements to thumbnail
        thumbnail.appendChild(img);
        thumbnail.appendChild(removeIcon);

        // Append thumbnail to the container
        addedImagesContainer.appendChild(thumbnail);
    }
}

function validateForm() {
    resetErrorMessages();

    var isValid = true;

    var productName = document.getElementById("productName").value;
    var description = document.getElementsByName("description")[0].value;
    var regularPrice = document.getElementsByName("regularPrice")[0].value;
    var salePrice = document.getElementsByName("salePrice")[0].value;
    var quantity = document.getElementById("quantity").value;
    var size = document.getElementById("size").value;
    var resolution = document.getElementById("resolution").value;

    if (productName.trim() === "") {
        displayErrorMessage("productName-error", "Product Name is Required");
        isValid = false;
    }

    if (isNaN(parseFloat(regularPrice)) ||!/^\d+$/.test(regularPrice)|| parseFloat(regularPrice) <= 0) {
        displayErrorMessage("regularPrice-error", "Regular price must be an integer");
        isValid = false;
    }

    if (isNaN(parseFloat(salePrice)) ||!/^\d+$/.test(salePrice)|| parseFloat(salePrice) < 0) {
        displayErrorMessage("salePrice-error", "Sale price must be an integer");
        isValid = false;
    }

    if (parseFloat(salePrice) >= parseFloat(regularPrice)) {
        displayErrorMessage("salePrice-error", "Sale price should be less than Regular price");
        isValid = false;
    }

    if (parseFloat(regularPrice) < 0) {
        displayErrorMessage("regularPrice-error", "Regular price cannot be negative");
        isValid = false;
    }

    if (parseFloat(salePrice) < 0) {
        displayErrorMessage("salePrice-error", "Sale price cannot be negative");
        isValid = false;
    }

    if (size.trim() === "") {
        displayErrorMessage("size-error", "Size is required");
        isValid = false;
    }

    if (resolution.trim() === "") {
        displayErrorMessage("resolution-error", "Resolution is required");
        isValid = false;
    }

    if (!/^[1-9]\d*$/.test(quantity)) {
        displayErrorMessage("quantity-error", "Invalid Quantity");
        isValid = false;
    }

    
    var fileInput = document.getElementById('imageInput');
var files = fileInput.files;

// Check if at least one file is selected
if (files.length === 0) {
    alert('Please choose at least one image.');
    isValid = false;
}


    return isValid;
}

function displayErrorMessage(elementId, message) {
    var errorElement = document.getElementById(elementId);
    errorElement.innerText = message;
    errorElement.style.display = "block";
}

function resetErrorMessages() {
    var errorElements = document.querySelectorAll(".error-message");
    errorElements.forEach(function (element) {
        element.innerText = "";
        element.style.display = "none";
    });
}





    </script>

<%- include("../partials/adminFooter") %>