<%- include("../partials/header") %>


<div class="card-body container col-4 pt-150 pb-150">
    <h4 class="card-title mb-4">Change Password</h4>
    <form id="passwordForm" method="post" action="/newpass" novalidate>
        <div class="mb-3">
            <label for="newPass1" class="form-label">Enter new password:</label>
            <input class="form-control" id="newPass1" name="newPass1" type="password" required aria-describedby="newPass1Help" style="border: 1px solid #ced4da;">
            <small id="newPass1Help" class="form-text text-error"></small>
        </div>
        <div class="mb-3" style="position: relative;">
            <label for="newPass2" class="form-label">Re-enter new password:</label>
            <input class="form-control" id="newPass2" name="newPass2" type="password" required aria-describedby="newPass2Help" style="border: 1px solid #ced4da;">
            <button id="togglePassword" class="border-0" type="button" style="position: absolute; top: 50%; right: 5px; transform: translateY(-50%);">
                <i class="fas fa-eye"></i>
            </button>
            <small id="newPass2Help" class="form-text text-error"></small>
        </div>
        <div class="mb-4">
            <button type="submit" class="btn btn-primary w-100">Change Password</button>
        </div>
        <!-- Display flash messages -->
        <% if (locals.message && message.length > 0) { %>
            <div id="alertMessage" class="alert alert-danger">
                <%= message %>
            </div>
        <% } %>
    </form>
    <p class="text-center mb-4">Don't have an account? <a href="/signup">Sign up</a></p>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var passwordForm = document.getElementById('passwordForm');
            var newPass1Input = document.getElementById('newPass1');
            var newPass2Input = document.getElementById('newPass2');
            var togglePasswordButton = document.getElementById('togglePassword');
            var alertMessage1 = document.getElementById('newPass1Help');
            var alertMessage2 = document.getElementById('newPass2Help');
            var alertMessage = document.getElementById('alertMessage');
    
            passwordForm.addEventListener('submit', function (event) {
                // Reset previous error messages
                alertMessage1.textContent = "";
                alertMessage2.textContent = "";
                alertMessage.textContent = "";
    
                // Validate New Passwords
                if (newPass1Input.value.trim() === "" || newPass2Input.value.trim() === "") {
                    alertMessage1.textContent = 'Password fields cannot be empty';
                    event.preventDefault();
                    return;
                }
    
                // Check if passwords match
                if (newPass1Input.value !== newPass2Input.value) {
                    alertMessage2.textContent = 'Passwords do not match';
                    event.preventDefault();
                    return;
                }
    
                // Check if passwords contain only whitespace
                if (/^\s*$/.test(newPass1Input.value) || /^\s*$/.test(newPass2Input.value)) {
                    alertMessage1.textContent = 'Password cannot contain only whitespace';
                    event.preventDefault();
                    return;
                }
    
                // You can add more specific validation as needed
            });
    
            // Toggle Password Visibility
            togglePasswordButton.addEventListener('click', function () {
                var type1 = newPass1Input.getAttribute('type') === 'password' ? 'text' : 'password';
                var type2 = newPass2Input.getAttribute('type') === 'password' ? 'text' : 'password';
    
                newPass1Input.setAttribute('type', type1);
                newPass2Input.setAttribute('type', type2);
    
                // Toggle eye icon based on password visibility
                togglePasswordButton.innerHTML = type1 === 'password' ? '<i class="fas fa-eye"></i>' : '<i class="fas fa-eye-slash"></i>';
            });
        });
    </script>
    


  


<%- include("../partials/footer") %>